$color-primary: #E93E30;
$color-secondary: #F7E018;
$color-tertiary: #299ED5;
$color-quaternary: #292C33;
$color-quinary: #67C770;
$color-senary: #563D7C;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #CCCCCC;
$color-dark-gray: #333333;
$color-light-gray: #CCCCCC;
$color-dark-blue: #292C33;
$color-light-blue: #E6E6E6;
$color-dark-green: #299ED5;
$color-light-green: #E6E6E6;
$color-dark-red: #E93E30;
$color-light-red: #E6E6E6;
